---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About Sandip | Fractional Technology & Product Leader',
	description: 'About Sandip Gangakhedkar - Fractional technology and product leader specializing in building lean, innovative product engineering teams.',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Hi, I'm Sandip</h1>
			<p>
				I enjoy helping businesses unlock success through technology. 
        The pace of change in the world today is unprecedented, and I thrive on the challenge of navigating this complexity to deliver real value.
        
			</p>

      <blockquote>
        <p>One thing I've learned: you can know anything, it's all there, you just have to find it.</p>
      </blockquote>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/sandip_profile.webp"
        alt="Sandip Gangakhedkar - Fractional Technology & Product Leader"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  
  <TextSection>
    <narrow>  
    <h2>Background</h2>
    <p>
      Over the last two decades, I've built a rich and diverse career spanning research, product development, and entrepreneurship. 
      My journey has taken me from cutting edge applied research at world-class labs to co-founding a deep tech mobility startup that pushed the boundaries of what's possible in technology.
      I've been in the trenches of building businesses, leading teams, and delivering products that make a difference.
    </p>
    <p>
      I currently lead product engineering at <a href="https://www.meshh.com/" target="_blank" rel="noopener noreferrer">Meshh</a> a spatial analytics company specializing in understanding people behavior and movement at live events using passive wifi sensing. 
    </p>
    <p>
      Prior to this, I co-founded <a href="https://imperiumdrive.com/" target="_blank" rel="noopener noreferrer">Imperium Drive</a>, where we pioneered a human-in-the-loop approach to autonomous driving and launched <a href="https://fetchcar.io" target="_blank" rel="noopener noreferrer">Fetch</a> - Europe's first commercial tele-driven car hire service in the UK.
      This was easily the most challenging, stressful and rewarding phase of my career and something I will cherish forever.
      Our work was covered by the <a href="https://www.reuters.com/technology/truly-autonomous-cars-may-be-impossible-without-helpful-human-touch-2022-09-12/" target="_blank" rel="noopener noreferrer">BBC</a> and <a href="https://www.bbc.co.uk/news/uk-england-beds-bucks-herts-6576871" target="_blank" rel="noopener noreferrer">Reuters</a> among others.
    </p>
    <p>
      Before that, I spent a decade at leading R&D labs and technology companies, including Bell Labs, Huawei, and Nokia, where I developed novel communication systems and network protocols.
      During this period, I was involved in several industry-first demos and proof-of-concept projects with 5G, managed to publish in many top-tier scientific conferences and filed 20+ patents.
      My work has been driven by a passion for solving complex problems and delivering innovative solutions that make a real impact.
    </p>  
      
    <h2>My Approach - People, Process and Product</h2>

    <p>
      I believe that enduring business success comes from a combination of the right people, effective processes, and a relentless focus on delivering value through delightful products.
    </p>
    <p>
      My approach is centered around building high-performing teams that are empowered to innovate and solve complex problems.
      I emphasize a culture of experimentation, where teams are encouraged to learn from both successes and failures
      to continuously improve and adapt.
    </p>
    <p>
      I also focus on creating efficient processes that enable teams to deliver quickly and effectively, while maintaining high standards of quality and reliability.
      This includes leveraging modern development practices, tools, and methodologies to streamline workflows and enhance collaboration.
    </p>
    <p>
      Finally, I am passionate about building products that truly meet the needs of users and drive business outcomes.
      I work closely with teams to ensure that products are not only technically sound but also aligned with user needs and market demands.
      This involves a deep understanding of the problem space, user research, and a commitment to delivering value at every stage of the product lifecycle.

    </p>
    
    </narrow>

  </TextSection>
</Layout>